/*FONTS (https://www.fontsquirrel.com)*/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'), url('../fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'), url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* MAIN STYLE */

* {
  box-sizing: border-box;
}

:root {
  --orange: #ff9900;
  --dark-orange: #e1670e;
  --grey: #666666;
  --dark-grey: #333333;
  --light-grey: #999999;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: var(--dark-grey);
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1920px;
}

.text-center {
  text-align: center;
}

ul, h1, h2, h3, h4, p, button {
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
  outline: none;
  transition: outline .3s ease;
}

h1 {
  font-size: 70.37;
  line-height: 86.5;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input::placeholder, textarea::placeholder {
  color: white;
}

input {
  margin-bottom: 25px;
  padding-left: 24px;
  min-height: 60px;
  color: white;
  border-radius: 3px;
  background-color: var(--grey);
  transition: outline .3s ease;
}

textarea {
  padding: 21px 20px 20px 24px;
  background-color: var(--grey);
  border-radius: 3px;
  border: none;
  outline: none;
  resize: none;
  transition: outline .3s ease;
}
input:hover {
  outline: 2px solid white;
}
input:active {
  outline: 2px solid white;
  
}

input:focus, textarea:focus, button:focus, a:focus {
  outline: 2px solid white;
}

textarea:hover {
  outline: 2px solid white;
}

/* HEADER */

.header {
  box-shadow: 0px 45px 40px -40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  height: 100px;

background-size: cover;
}

.burger {
  display: none;
  width: 30px;
  height: 23px;
  border: none;
  outline: none;
  background: url(../img/Burger-grey.svg) center no-repeat;
  transition: background .1s ease;
}

.burger:hover {
  background: url(../img/Burger-orange.svg);
}

.burger:active {
  background: url(../img/Burger-darkorange.svg);
  outline: none;
}

.header__logo {
  margin-top: 12px;
  margin-left: 25px;
}
.header-action {
  font-size: 18px;
  font-weight: 500;
  color: var(--orange);
}

.header-right {
  display: flex;
  flex-direction: column;
  
  margin-right: 25px;
}
.header-phone {
  
  font-size: 20px;
  
  font-weight: 700;
  text-align: right;
}
.header-mail {
  
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1px;
}

.header-nav__list {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  
  align-items: center;
 
  background: linear-gradient(to bottom, #515151 20%, #2a2a2a 80%);
  margin-bottom: 1px;
 
}

.header-nav__item {
 width: 100%;  
  line-height: 1;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid white;
 
}

.header-nav__item:nth-child(6) {
  border-right: 1px solid transparent; 
  

}



.header-nav__link {
  padding-bottom: 0px;
  Color: white;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  transition: color .1s ease, border-bottom .1s linear;
}

.header-nav__link:hover {
  color: var(--orange);
}

.header-nav__link:focus {
  color: var(--orange);
 
}

.header-nav__link:active {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}
.header-nav__link:focus {
  color: var(--orange);
 
}

.search__button {
  margin: 6px -6px 0 0;
  width: 30px;
  height: 30px;
  background: transparent url(../img/Search.png) left no-repeat;
  outline: none;
  border: none;
  transition: background-color .3s ease;
}

.search__button:hover {
  background-image: url(../img/Search-orange.png);
}

.search__button:active {
  outline: none;
  background-image: url(../img/Search-darkorange.png);
}

/* SECTION-SLIDER  */

.section-slider {
  margin-bottom: 104px;
  box-shadow: 0px 45px 40px -40px rgba(0, 0, 0, 0.1);
}

.section-slider__container {
  min-height: 820px;
  
  
  background-size: cover;
  
}

.section-slider__content {
  display: flex;
  flex-direction: column;
  background: url(../img/fakro-group-6.jpg) right no-repeat;
  background-size: cover;
  padding: 65px 48px 0 81px;
  min-height: 820px;
  align-items: flex-end;
}

.section-slider__img {
  height: 100%;
}

.section-slider__heading {
  margin-bottom: 21px;
  width: 40%;
  font-weight: 700;
  font-size: 70.37px;
  line-height: 85.79px;
  letter-spacing: 0.6px;
  
  color: white;
  text-align: right;
}

.section-slider__discription {
  margin-bottom: 28px;
  width: 50%;
  font-size: 23.46px;
  line-height: 29px;
  color: white;
  letter-spacing: 0.3px;
  text-align: right;
}

.section-slider__form {
  margin-left: 0px;
}

.section-slider__button {
  padding-top: 2px;
  min-width: 280.5px;
  min-height: 78px;
  font-size: 23.5px;
  font-weight: 700;
  color: white;
  background-color: var(--orange);
  transition: background-color .3s ease;
}

.section-slider__button:hover {
  background-color: rgba(255, 153, 0, .5);
  cursor: pointer;
}

.section-slider__button:active {
  background-color: var(--dark-orange);
}

/* SECTION-ABOUT */

.section-about {
  margin-bottom: 120px;
  margin-top: 50px;
  box-shadow: 0px 45px 40px -40px rgba(0, 0, 0, 0.1);
}

.section-about__heading {
  margin: 0 0 60px 0;
  text-align: center;
}

.section-about__discription {
  text-indent: 25px; 
  text-align: justify;
  margin-bottom: 50px;
  padding-left: 50px;  
  line-height: 32px;
}



.section-about__content {
  display: flex;
  flex-direction: row-reverse;
}

.section-about__banner {
  position: relative;
  flex: 0 0 calc(50% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  margin-right: 0px;
  margin-bottom: 50px;
  padding-bottom: 49px;
  padding-left: 52px;
  padding-right: 52px;
  min-height: 630px;
  background: url(../img/section-about-image.png) center no-repeat;
  background-size: cover;
}


.section-about__info {
  flex: 0 0 50%;
}

.section-about__item-heading {
  margin-bottom: 7px;
}

/*SECTION-GALLERY*/

.section-gallery {
  margin-bottom: 120px;
  margin-top: 50px;
  box-shadow: 0px 45px 40px -40px rgba(0, 0, 0, 0.1);
}

.section-gallery__heading {
  margin: 0 0 60px 0;
  text-align: center;
}


.gallery-content {
  display: flex; 
  align-items: center; 
  padding-bottom: 70px;
  
}
.gallery-img {
  flex: 0 0 50%; 
text-align: center;
margin-left: 0px;
}

.gallery-img-before {
  flex: 0 0 25%; 
text-align: center;
opacity: 0.3;
z-index: -1;
}
.gallery-img-after {
  flex: 0 0 25%; 
text-align: center;
opacity: 0.3;
z-index: -1;

}



/* SECTION-WORK  */

.section-work {
  margin-bottom: 85px;
  box-shadow: 0px 45px 40px -40px rgba(0, 0, 0, 0.1);

}

.section-work__heading {
  margin: 0 0 60px 0px;
  text-align: center;
}

.section-work__list {
  display: flex;
  margin: 0 0 30px 0px;
 justify-content: center;
}

.section-work__item {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: var(--orange);
  line-height: 22px;
  cursor: pointer;
  transition: color .3s ease;
  text-align: center;
  height: 80px;
 
  

}

.section-work__item:visited, .section-work__item:hover {
  color: var(--orange);
}

.section-work__item:active {
  color: var(--dark-orange);
}

.section-work__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-work__content-heading {
  margin: 0 0 8px 2px;
}

.section-work__content-info {
  /* margin: 0 0 49px 1px; */
  width: 86%;
}

.section-work__discription {
  flex: 0 0 50%;
  margin-bottom: 50px;
}

.section-work__button {
  display: none;
  margin: 0 33px 0 0px;
  padding: 22px 38px 20px 38px;
  font-weight: 700;
  color: white;
  background-color: var(--orange);
  transition: background-color .3s ease;
}

.section-work__button:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.section-work__button:active {
  background-color: var(--dark-orange);
}

.section-work__download {
  margin-left: 0px;
  padding: 5px;  
  font-weight: 400;
  color: var(--dark-grey);
  border-bottom: 1px dashed var(--light-grey);
  
  background-color: transparent;
  transition: color .3s ease, background-color .3s ease, border .3s ease;
}

.section-work__download:hover {
  color: white;
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

.section-work__download:active {
  color: white;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  
}

.section-work__img {
  margin: 5px -1px  2px 15px;
  
  
}



/* FOOTER  */

.footer {
  box-shadow: 0px 45px 40px -40px rgba(0, 0, 0, 0.1);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  
  padding: 49px 75px 65px 74px;
  color: white;
  background-color: #333333;
  
}

.footer-right {
  display: flex;
  flex: 0 0 25%; 
  padding-top: 80px;
  text-align: right;
}

.footer-left {
  flex: 0 0 25%;
}

.footer-center {
  flex: none;
  padding-left: 9px;
  padding-right: 9px;
}


.footer__nav-menu {
  width: 100%;
}

.footer__nav-menu__link {
  color: white;
  transition: color .3s ease;
  
}
.footer__nav-menu__link:hover {
  color: var(--orange);
  
  
}

.footer__logo {
  margin: 7px 0 50px 0;
}

.footer-nav__list {
  margin-top: 33px;
  margin-bottom: 90px;
}

.footer-nav__item {
  margin-bottom: 4px
}

.footer-nav__link {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: white;
  letter-spacing: 0.5;
  border-bottom: none;
  transition: color .3s ease;
}

.footer-nav__link:hover {
  color: var(--orange);
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  margin: 0 25px 0 0;
}

.footer__social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent no-repeat;
  background-size: contain;
  transition: transform .3s ease;
}

.footer__social-link:hover {
  transform: scale(1.1);
}

.footer__facebook {
  /* background-image: url(../img/fb.png) */
}

.footer__vk {
  background-image: url(../img/vk.png)
}

.footer__instagram {
  background-image: url(../img/instagram.png)
}

.footer__heading {
  margin: 5px 0 22px 0px;
  color: white;
}

.footer-center__form {
  display: flex;
  flex-direction: column;
}

.footer__form {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;

  margin-top: 32px;
  margin-left: -1px;
}

.footer__button {
  margin: 0 25px 0 1px;
  padding: 21px 52px 19px;
  font-weight: 700;
  color: white;
  background-color: var(--orange);
  transition: background-color .3s ease;
}

.footer__button:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.footer__button:active {
  background-color: var(--dark-orange);
}

.footer__checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.footer__checkbox input[type="checkbox"] {
  margin: 0;
  width: 12px;
  height: 12px;
  opacity: 0;
}

.footer__checkbox label::before {
  position: absolute;
  top: 23px;
  left: -10px;
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  background-color: transparent;
}

.footer__checkbox label::after {
  position: absolute;
  top: 24px;
  left: -7px;
  content: "";
  display: inline-block;
  width: 7px;
  height: 4px;
  border-left: 2px solid #97EE3F;
  border-bottom: 2px solid #97EE3F;
  transform: rotate(-45deg);
}

.footer__checkbox input[type="checkbox"]+label::after {
  content: none;
}

.footer__checkbox input[type="checkbox"]:checked+label::after {
  content: "";
}

.dev {
  height: 60px;
  color: var(--dark-grey);
  font-size: 12px;
  line-height: 50px;
  
  text-align: center;
}
.dev-link {
  color: var(--orange);
  font-weight: 900;
}

/* MEDIA 1660 */

@media (max-width: 1660px) {
  .section-slider__heading {
    width: 37%;
    font-size: 48px;
    line-height: 60px;
  }
  .section-slider__discription {
    width: 70%;
  }

  .header-nav__link {
    
   
   
     font-size: 16px;
  }
  .section-about__discription {
    width: 100%;
  }
  .section-about__banner {
    background-position: center;
  }
  .section-about__content {
    flex-direction: column;
  }
  .section-about__banner {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .section-about__banner-link {
    padding: 11px 15px;
  }
  .section-about__item-discription {
    margin: 2px 0 0 15px;
    padding: 200px 20px 20px 20px;
    border: 1px solid grey;
    background-repeat: no-repeat;
  }

  .section-about__item-discription {
    margin: 2px 0 0 15px;
    padding: 68px 120px 65px 348px;
  }
  .item1 {
    margin-bottom: 30.5px;
    background-image: url(../img/Frame\ 16-1024.png);
    background-position: 20px 20px;
  }
  .item2 {
    background-image: url(../img/Frame\ 12-1024.png);
    background-position: 20px 20px;
  }

  .section-work__item {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
  }

  .footer-right__content {
    padding: 46px 10px 10px 10px;
  }
}

@media (max-width: 1280px) {
 
  .burger {
    display: flex;
    
  }
  .header-action {
    display: none;
  }
  .header-center {
    order: -1;
  }
  .header-nav__link {
    font-size: 14px;
  }
  .section-slider__content {
    padding: 80px 38px 90px 45px;
  }
  .section-slider__heading {
    width: 40%;
  }
  .section-about__content {
    flex-direction: column;
  }
  .section-about__banner {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .section-about__item-discription {
    margin-left: 0;
  }
  .section-about__item-discription {
    margin: 2px 0 0 0;
    padding: 68px 120px 65px 348px;
  }
  .item1 {
    margin-bottom: 30px;
  }
  .section-about__discription {
    width: 90%;
  }
  .footer-right {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer__container {
    padding-left: 49px;
    padding-right: 51px;
  }
  .header__logo {
    width: 150px;
    margin-left: -5px;
  }

  .main__menu {
    display: none;
  }
  .search__button {
    margin-right: -6px;
    margin-top: 4px;
  }
  .section-slider {
    margin-bottom: 84px;
  }
  .section-slider__container {
    min-height: 668px;
    /* background: url(../img/slider_img1_1024.jpg) center no-repeat; */
    z-index: 0;
  }
  .section-slider__content {
    padding: 30px 20px 50px 20px;
  }
  .section-slider__heading {
    margin-bottom: 12px;
    
    width: 45%;
    font-size: 40px;
    line-height: 73.14px;
    font-weight: 800;
    letter-spacing: normal;
  }
  .section-slider__discription {
    margin-bottom: 59px;
    width: 88%;
    font-size: 20px;
    line-height: 24.38px;
    letter-spacing: 0px;
    font-weight: 700;
  }
  .section-slider__form {
    margin-left: -2px;
  }
  .section-slider__button {
    margin-left: 2px;
    padding: 22px 35px 19px 35px;
  }
  .section-about {
    margin-bottom: 85px;
  }
  .section-about__heading {
    margin-left: 0px;
    margin-bottom: 6px;
  }
  .section-about__discription {
    margin-left: -1px;
    margin-bottom: 62px;
    width: 100%;
  }
  .tooltype {
    margin: 0 2.5px -3px 2.5px;
  }
  .section-about__content {
    flex-wrap: wrap;
  }
  .section-about__info {
    flex: 0 0 100%;
  }
  .section-about__banner {
    flex: 0 0 100%;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 49px;
    min-height: 640px;
    background: url(../img/about_banner_1024.jpg) no-repeat;
    background-position: top;
  }
  .section-about__banner::after {
    min-height: 196px;
  }
  .section-about__banner-info {
    max-width: 61%;
  }
  .section-about__banner-link {
    right: 50px;
    bottom: 55px;
    padding: 12px 35px 11px 35px;
  }
  .section-about__item-heading {
    margin-bottom: 8px;
  }
  .section-about__item-discription {
    
    padding: 66px 140px 62px 317px;
  }
  .section-about__item-discription:first-child {
    margin-bottom: 32px;
  }
  .section-about__item-discription:last-child {
    padding-top: 66px;
  }
  .item1 {
    background-position: 75px 64px;
  }
  .item2 {
    background-position: 75px 64px;
   
  }
  .section-work {
    margin-bottom: 72px;
  }
  .section-work__list {
    margin-left: 0;
    margin-bottom: 53px;
  }
  .section-work__item {
    margin-right: 86px;
  }
  .section-work__heading {
    margin-left: 0px;
    margin-bottom: 46px;
  }
  .section-work__content-heading {
    margin-left: -1px;
    margin-bottom: 8px;
  }
  .section-work__content-info {
    margin: 0 0 24px 0;
    width: 94.5%;
  }
  .section-work__button {
    margin-left: 0;
    margin-right: 31px;
  }
  .section-work__download {
    padding: 22px 38px 20px 37px;
  }
  .section-work__img {
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 0;
    overflow: hidden;
  }
  .section-faq {
    margin-bottom: 80px;
  }
  .section-faq__heading {
    margin-left: -2px;
    margin-bottom: 27px;
  }
  .section-faq__item:first-child {
    padding: 27px 0 30px 0;
  }
  .section-faq__item {
    margin-left: 1px;
    padding: 27px 0 27px 0;
  }
  .section-faq__item:nth-child(2) {
    margin-top: -1px;
    padding: 26px 0 29px 0;
  }
  .section-faq__item:nth-child(4) {
    margin-top: -1px;
    padding: 26px 0 29px 0;
  }
  .section-faq__item:nth-child(3) {
    padding: 30px 0 30px 0;
  }
  .section-faq__item:nth-child(5) {
    margin-top: -1px;
    padding: 30px 0 30px 0;
  }
  .section-faq__item h3 {
    margin-top: 0;
  }
  .section-faq__item:nth-child(3) h3 {
    margin-top: -3px;
  }
  .section-faq__item:nth-child(5) h3 {
    margin-top: -3px;
  }
  .section-faq__item-heading {
    margin: 0;
    padding-top: 5px;
    width: 82%;
    font-size: 20px;
    line-height: 32px;

  }
  .section-faq__item-img {
    margin-right: 1px;
  }
  .section-faq__item-img1 {
    margin-top: 3px;
  }
  .section-faq__item-img2 {
    margin-top: 2px;
  }
  .section-faq__item-img3 {
    margin-top: 0;
  }
  .footer-left {
    flex: 0 0 41%;
  }
  .footer-center {
    flex: 0 0 59%;
    padding-right: 0;
    padding-left: 12px;
  }
  input {
    padding-left: 17px;
    padding-top: 5px;
  }
  textarea {
    padding-top: 24px;
    padding-left: 17px;
  }
  .footer__button {
    margin: 0 27px 0 -5px;
    padding: 20px 37.5px;
    font-weight: 700;
  }
  .footer__form {
    flex-wrap: wrap;
  }
  .footer-right__content {
    display: none;
  }
  .footer__heading {
    margin-top: 5px;
    margin-left: -6px;
    margin-bottom: 19px;
  }
}

/* MEDIA 920 */

@media (max-width: 920px) {
  .section-about__banner-info {
max-width: 75%;
  }
  .section-work__content {
    flex-direction: column-reverse;
  }
}

/* MEDIA 768 */

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  .header__container {
    padding: 15px 49px 0 48px;
    height: 105px;
  }
  .burger {
    margin-top: -2px;
    margin-left: 2px;
  }

  .search__button {
    margin-top: 0;
    margin-right: -4px;
  }
  .section-slider {
    margin-bottom: 84px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-slider__container {
    padding-left: 0px;
    min-height: 662px;
    /* background: url(../img/slider_img_768.jpg) bottom no-repeat; */
    z-index: 0;
  }
  .section-slider__content {
    /* padding: 163px 40px 90px 40px; */
  }
  .section-slider__heading {
    margin-bottom: 15px;
    font-size: 38px;
    line-height: 61px;

  }
  .section-slider__discription {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }
  .section-about {
    margin-bottom: 83px;
  }
  .section-about__container {
    padding: 0 48px;
  }
  .section-about__heading {
    margin-left: 2px;
  }
  .section-about__discription {
    margin-left: 2px;
    margin-bottom: 60px;
  }
  .section-about__banner {
    margin-bottom: 30px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 32px;
    min-height: 650px;
    background: url(../img/section-about-banner-768.png) no-repeat;
    background-position: top;
  }
  .section-about__banner::after {
    margin-left: 2px;
    width: 99.5%;
  }
  .section-about__banner-info {
    padding-right: 10px;
    max-width: 62%;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
  }
  .section-about__banner-link {
    right: 32px;
  }
  .section-about__info {
    margin-right: 0px;
  }
  .item1 {
    margin-bottom: 30.5px;
    background-image: url(../img/Frame\ 16-768.png);
    background-size: 17.3%;
    background-position: 38px 66px;
  }
  .section-about__item-discription {
    margin-right: 2px;
    margin-left: 2px;
    padding: 35px 30px 33px 170px;
  }
  .section-about__item-discription:last-child {
    padding-top: 36px;
  }
  .item2 {
    background-image: url(../img/Frame\ 12-768.png);
    background-position: 38px 68px;
  }
  .section-work {
    margin-bottom: 84px;
  }
  .section-work__container {
    padding-left: 48px;
    padding-right: 48px;
  }
  .section-work__heading {
    margin-left: 1px;
    margin-bottom: 46px;
  }
  .section-work__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 2px;
    margin-right: 3px;
  }
  .section-work__item {
    margin-left: 0;
    margin-right: 0;
  }
  .section-work__item:nth-child(2) {
    margin-left: 3px;
  }
  .section-work__discription {
    margin-left: 2px;
  }
  .section-work__content {
    flex-direction: column-reverse;
  }
  .section-work__content-heading {
    margin-bottom: 10px;
  }
  .section-work__content-info {
    width: 100%;
  }
  .section-work__img {
    margin-left: 2px;
    margin-bottom: 31px;
  }
  .section-faq {
    margin-bottom: 80px;
  }
  .section-faq__container {
    padding-right: 50px;
    padding-left: 50px;
  }
  .section-faq__item {
    margin-left: 0px;
    margin-right: 0px;
  }
  .section-faq__item:nth-child(3) h3 {
    width: 80%;
  }
  .section-faq__item:nth-child(4) h3 {
    width: 85%;
  }
  .section-faq__item:nth-child(5) h3 {
    width: 85%;
  }
  .section-faq__item:nth-child(3) {
    padding: 29px 0 29px 0;
  }
  .section-faq__item:nth-child(5) {
    padding: 29px 0 29px 0;
  }
  .section-faq__item-heading {
    width: 86%;
  }
  .section-faq__item-img {
    margin-right: 0;
  }
  .section-faq__item-img3 {
    margin-top: -14px;
  }
  .section-faq__item-img4 {
    margin-top: 2px;
  }
  .section-faq__item-img5 {
    margin-top: -14px;
  }
  .section-faq__heading {
    margin-left: -1px;
  }
  .footer__container {
    flex-direction: column-reverse;
    padding-left: 50px;
    padding-right: 130px;
    padding-top: 50px;
  }
  .footer-center {
    margin-bottom: 50px;
    padding-left: 0px;
    padding-right: 45px;
  }
  .footer__social {
    margin-bottom: 50px;
  }
  textarea {
    margin-bottom: 30px;
    padding-left: 25px;
  }
  .footer__input {
    padding-left: 25px;
  }
  .footer__social-list {
    margin-top: 5px;
  }
  .footer-left {
    margin-left: 0px;
  }
  .footer__logo {
    margin-bottom: 5px;
  }
  .footer__form {
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 0px;   
    
  }
  .footer__button {
    margin-left: 0px;
  }
  
   
  .footer__nav {
    display: none;
  }
}

@media (max-width: 720px) {
  .section-about__banner {
    margin-bottom: 9px;
    min-height: 200px;
    background: url(../img/about_banner_320.jpg) no-repeat;
    background-size: cover;
  }
  .section-about__banner2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    width: 100%;
    height: 100%;
  }
  .section-about__banner::after {
    display: none;
  }
  .section-about__banner-info {
    display: none;
  }
  .section-about__banner-link {
    display: none;
  }
  .section-about__banner-info2 {
    margin-left: -1px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
  .section-about__banner-link2 {
    align-self: start;
    padding: 11px 42px 13px 42px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    color: var(--orange);
    border: 2px solid var(--orange);
    background-color: transparent;
    transition: background-color .3s ease, border .3s ease;
  }
}

@media (max-width: 568px) {
  .container {
    padding: 0 19px 0 11px;
  }
  .header {
    height: 45px;
  }
  .header__container {
    flex-direction: row;
    align-items: center;
 margin-left: -2px;
    padding-top: 5px;
    height: 52px;
  }
  
  .header__logo {
    margin-left: 32px;
    margin-top: 3px;
    
  }
  .burger {
    margin-top: -8px;
    width: 30px;
    height: 25px;
    background: url(../img/burger-grey-320-1.png) center no-repeat;
  }
  .search__button {
    margin-top: -6px;
    margin-right: -5px;
  }
  .section-slider {
   margin-bottom: 58px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .section-slider__container {
    margin-top: 13px;
    padding: 62px 22px 62px 22px;
   
    min-height: 310px;
    /* background: url(../img/slider_img_320.jpg) bottom no-repeat; */
    background-size: cover;
  }
  .section-slider__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
  }
  .section-about__container {
    padding: 0;
  }
  h2 {
    font-size: 24px;
    line-height: 29.26px;
    font-weight: 400;
  }
  .section-slider__heading {
    width: 55%;
    margin-bottom: 7px;
    
    font-size: 26px;
    line-height: 52px;
    font-weight: 800;
    text-align: right;
  }
  .section-slider__discription {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .section-slider__button {
    min-width: 0;
    min-height: 0;
    padding: 12px 28px 14px 28px;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 700;
  }
  .section-about {
    margin-bottom: 38px;
  }
  .section-about__heading {
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .section-about__discription {
    margin-left: 0;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
  .section-about__banner {
    margin-bottom: 9px;
    min-height: 200px;
    background: url(../img/about_banner_320.jpg) no-repeat;
    background-size: cover;
  }
  .section-about__banner2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
  }
  .section-about__banner::after {
    display: none;
  }
  .section-about__banner-info {
    display: none;
  }
  .section-about__banner-link {
    display: none;
  }
  .section-about__banner-info2 {
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
  .section-about__banner-link2 {
    align-self: start;
    padding: 11px 42px 13px 42px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    color: var(--orange);
    border: 2px solid var(--orange);
    background-color: transparent;
    transition: background-color .3s ease, border .3s ease;
  }
  .section-about__item-discription {
    margin-bottom: 10px;
    margin-left: -1px;
    padding: 63px 0 0 0;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    border: none;
  }
  .section-about__item-discription:nth-child(1) {
    margin-bottom: 20px;
  }
  .section-about__item-discription:nth-child(2) {
    padding: 69px 0 0 0;
  }
  .section-about__item-heading {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .section-about__info {
    margin-left: 1px;
  }
  .item1 {
    background-position: top left;
    background-size: 64px 49px;
    background-image: url(/img/);
  }
  .item2 {
    background-position: top left;
    background-size: 68px 65px;
  }
  .section-work {
    margin-bottom: 40px;
  }
  .section-work__container {
    padding: 0;
  }
  .section-work__heading {
    margin-left: 0;
    margin-bottom: 34px;
  }
  .section-work__list {
    margin-bottom: 8px;
    margin-right: 0;
    margin-left: 0;
  }
  .section-work__item {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: 400;
  }
  .section-work__item:nth-child(2) {
    margin-left: 0;
  }
  .section-work__img {
    margin-left: 0;
    margin-top: -4px;
    height: 350px;
  }
  .section-work__discription {
    margin-left: 0;
  }
  .section-work__content {
    flex-direction: column-reverse;
    
  }
  .section-work__content-heading {
    margin-top: -3px;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }
  .section-work__content-info {
    margin-top: -1px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
  .section-work__button {
    margin-right: 11px;
    padding: 13px 44px 15px;
    font-size: 12px;
    font-weight: 700;
  }
  .section-work__download {
    padding: 12px 30px 14px 32.5px;
    font-size: 12px;
  }
  .section-faq {
    margin-bottom: 39px;
  }
  .section-faq__container {
    padding-left: 0;
    padding-right: 0;
  }
  .section-faq__heading {
    margin-left: 0;
    margin-bottom: 12px;
    padding-left: 0;
  }
  .section-faq__item {
    margin: 0;
    margin-left: 1px;
    padding: 26px 0 29px 0;
  }
  .section-faq__item:first-child {
    padding: 27px 0 28px 0;
  }
  .section-faq__item:nth-child(2) {
    padding: 26px 0 29px 0;
  }
  .section-faq__item:nth-child(3) {
    padding: 29px 0 29px 0;
  }
  .section-faq__item:nth-child(3) h3 {
    padding-right: 5px;
    width: 90%;
  }
  .section-faq__item:nth-child(4) {
    padding: 26px 0 29px 0;
  }
  .section-faq__item:nth-child(4) h3 {
    padding-right: 5px;
    width: 90%;
  }
  .section-faq__item:nth-child(5) {
    padding: 29px 0 29px 0;
  }
  .section-faq__item:nth-child(5) h3 {
    padding-right: 0;
    width: 96%;
  }
  .section-faq__item-heading {
    padding-right: 25px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .section-faq__item-heading:nth-child(4) {
    padding-right: 15px;
  }
  .section-faq__item-img {
    width: 30px;
    height: 30px;
    margin-right: -1px;
  }
  .section-faq__item-img3 {
    margin-top: 0;
  }
  .section-faq__item-img::before {
    top: 14px;
    left: 6px;
    width: 19px;
    height: 1px;
    background-color: #666666;
  }
  .section-faq__item-img::after {
    left: 15px;
    top: 5px;
    width: 1px;
    height: 19px;
    background-color: #666666;
  }
  .section-faq__item-img5 {
    margin-top: 0;
    margin-left: -5px;
  }
  .footer__heading {
    margin-top: 41px;
    margin-left: -4px;
  }
  .footer-left {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    margin: 0;
    margin-left: -2px;
    margin-bottom: 0;
  }
  .footer__social {
    margin-bottom: 13px;
  }
  .footer__social-list {
    margin-left: 11px;
  }
  .footer__social-item {
    margin-right: 14px;
  }
  .footer__social-link {
    width: 35px;
    height: 35px;
  }
  .footer-center {
    flex: 0 0 100%;
    margin-left: 0px;
    margin-bottom: 23px;
    
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey);
  }
  .footer-center__form {
    margin-left: 0px;
    
  }
  .footer__input {
    margin-right: 5px;
    padding: 0 0 0 20px;
    font-size: 14px;
  }
  textarea {
    margin-bottom: 25px;
    padding-left: 20px;
    height: 150px;
    font-size: 14px;
  }
  .footer__form {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-left: 3px;
  }
  .footer__button {
    margin-left: -5px;
    margin-right: 0;
    padding: 14px 29px 13px 29px;
    font-size: 12px;
  }
  .footer__checkbox {
    margin-top: -2px;
  }
}

@media (max-width: 319px) {
  body {
    display: none;
  }
}
